.blogpost-boxes{
  display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  gap: 15px;
  padding: 0 5vw 0 5vw;
	max-height: 100vh;
}

.blog-box{
  border: 1px solid rgb(168, 137, 137);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
}

.blog-box:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}